<h1>Página Principal</h1>

    <h2>Gestionar Usuarios</h2>
    <div>
        <button onclick="window.location.href='/getAllUsers'">Ver Todos los Usuarios</button>
    </div>

    <br>

    <div>
        <button onclick="window.location.href='/getOneUser'">Buscar un usuario por su Id de MongoDB</button>
    </div>

    <br>

    <div>
        <button onclick="window.location.href='/addOneUser'">Crear un Usuario</button>
    </div>

    <br>

    <div>
        <button onclick="window.location.href='/updateOneUser'">Actualizar un Usuario</button>
    </div>