<main>
  <section>
    <button id="showUsers">
      Mostrar todos los usuarios
    </button>
  </section>

  <form id="formRegister">
    <label for="first_name">
      Nombre
    </label>
    <input type="text" id="first_name" name="first_name" />

    <label for="last_name">
      Apellido
    </label>
    <input type="text" id="last_name" name="last_name" />

    <label for="email">
      Email
    </label>
    <input type="email" id="email" name="email" />

    <label for="password">
      Contraseña
    </label>
    <input type="password" id="password" name="password" />

    <label for="age">
      Edad
    </label>
    <input type="number" id="age" name="age" />

    <button id="createUser">
      Crear usuario
    </button>
  </form>

  <section>
    <ul id="listaDeUsuarios">
    </ul>
  </section>
</main>

<script>
  const showButton = document.querySelector('#showUsers');
  
  showButton.addEventListener('click', () => {

	fetch('/api/users/getAll')
      .then(response => response.json())
      .then(data => {

            console.log(data);
              
            const users = data.payload; 

            const listaDeUsuarios = document.querySelector('#listaDeUsuarios');

            listaDeUsuarios.innerHTML = ''; 

            users.forEach(user => { 

                  const li = document.createElement('li');
	            li.textContent = user.first_name;
                  listaDeUsuarios.appendChild(li); 
                  
            }); 
      });
}); 
      
const registerForm = document.querySelector('#formRegister');

	registerForm.addEventListener('submit', (e) => { 

            e.preventDefault(); 

            const data = new FormData(registerForm); 

            const obj = {}; 

            data.forEach((value, key) => {

                  obj[key] = ['email', 'first_name', 'last_name'].includes(key) ?
                  value.toLowerCase() : value; 

            }); 
            
            fetch('/api/users/addOne', { 

                  method: 'POST', 
                  headers: { 'Content-Type': 'application/json' }, 
                  body: JSON.stringify(obj) 

            }).then(res => { 

                  console.log(res); 
                  return res.json();

            }).then(data => { 

                  const users = data.payload; 

                  const listaDeUsuarios = document.querySelector('#listaDeUsuarios'); 

                  listaDeUsuarios.innerHTML = ''; 

                  if (data.status === 'error') { 

                        const listaDeUsuarios = document.querySelector('#listaDeUsuarios'); 
                        const li = document.createElement('li'); 
                        li.textContent = 'Error al crear usuario';
                        listaDeUsuarios.appendChild(li); 

                  } 

                  if (users && users.length > 0) {

                        users.forEach(user => { 
                              const li = document.createElement('li');
                              li.textContent = user.email; listaDeUsuarios.appendChild(li); 
                        }); 

                  }

                  console.log(data); 

            }) 
      })
</script>